---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
import RightImageSection from "../components/RightImageSection.astro";
import prototype from "../assets/BackDiag.jpg"
import reverseeng from "../assets/reverseeng.jpg";
import feasibility from "../assets/Feasibility-Study.jpg"
import code from "../assets/code2.jpg"
import LeftImageSection from "../components/LeftImageSection.astro";
import PrimaryArrowButton from "../components/buttons/PrimaryArrowButton.astro";
---

<!-- Page Layout -->
<Layout title="Services">
  <Container>

    Crab Labs

    <RightImageSection
      title={"Consulting"}
      subTitle={"Our team helps you solve your problems"}
      content = {}
      imgOne={feasibility}
      imgOneAlt={"feasibility"}
      single= {true}
      btnExists={true}
      btnTitle={"Get a Quote"}
      btnURL={"/contact"}
    />

    <LeftImageSection
      title={"Design Review and Analysis"}
      subTitle={"We ensure that your design will meet applicable requirements and standards"}
      img={code}
      imgAlt={"code review"}
      btnExists={true}
      btnTitle={"Get a Quote"}
      btnURL={"/contact"}
    />

    <RightImageSection
      title={"Prototyping and Product Development"}
      subTitle={"We provide full-cycle product development"}
      imgOne={prototype}
      imgOneAlt={"prototype"}
      single= {true}
      btnExists={true}
      btnTitle={"Get a Quote"}
      btnURL={"/contact"}
    />

    <LeftImageSection
      title={"Reverse Engineering"}
      subTitle={"We produce usable source files and documentation from manufactured products"}
      img={reverseeng}
      imgAlt={"reverse engineering"}
      btnExists={true}
      btnTitle={"Get a Quote"}
      btnURL={"/contact"}
  />

    <!-- <h1
      class="mt-12 text-3xl font-bold text-gray-800 sm:text-4xl lg:text-6xl dark:text-white
          mx-auto max-w-[85rem] items-center px-4 sm:px-6 lg:px-8 2xl:max-w-full"
    >
      Service Plans
    </h1>

    <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto break-words">

      <!-- <div class="w-full grid gap-6 grid-cols-2 sm:gap-12 lg:gap-8 mx-auto">

        <div>
          <h4 class="text-lg sm:text-xl font-semibold text-gray-800 dark:text-neutral-200">Project Based - Most Common</h4>
          <p class="mt-2 sm:mt-3 text-white break-word">You define the project and we build it to your specification on a fixed timeline</p>
          <p class="mt-1 text-gray-500 dark:text-neutral-500">*pricing depends on difficulty and timeline</p>
        </div>

        <div>
          <h4 class="text-lg sm:text-xl font-semibold text-gray-800 dark:text-neutral-200">Hourly</h4>
          <p class="mt-2 sm:mt-3 text-white break-word">We work on an as-needed basis</p>
          <p class="mt-1 text-gray-500 dark:text-neutral-500">**retainers are available on request</p>
        </div>
      </div> -->
      <!-- End Grid -->
      <!-- <h2 class="text-2xl mt-10 font-bold text-gray-500 dark:text-neutral-500"><i></i></h2>
      <PrimaryArrowButton href="/contact">Get a Quote</PrimaryArrowButton> -->
    </div>
    <!-- End Pricing -->
  </Container>
</Layout>
